
.CartListItems {
    padding: 10px;

    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    color: white;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    grid-template-columns: 30% 25% 25% 15%; 
}

.CartListCategories {
    display: grid;
    grid-template-columns: 30% 25% 25% 15%;
    padding: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.CartRemoveButton {
    padding: 10px;
    border-radius: 5px;
    border:none;
    background-color: darkred;
}

.CartRemoveButtonHover:hover
{
    background-color: red;

}

.CheckOutButton {
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background-color:mediumseagreen;
    color:black;
    font-weight:bold;
}

.CheckOutButtonHover:hover
{
    background-color:lightgreen;
}



.CheckOutDiv {
    display:flex;
    justify-content:space-evenly;
    padding-bottom: 50px;
    align-items:center;
}