
.Home {
 display:flex;

}

.CartImage {
    width: 70px;
    height: 70px;
    object-fit:cover;
  
}

.AppDiv {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:30px;
  
}

.CartNumber{
    color:white;
    font-weight: bold;
}

.LogOut {
    font-weight: bold;
  
}

.CartandUserContainer {
    display:flex;
    
}